{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "About"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        <a class="link" href="{{ site.url }}/about">
            <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image == true %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
        </a>

        <title>Binary Nonsense | Website and Portfolio of Álvaro García</title>
        <h1 class="title">{{ site.name }}</h2>
        <h2 class="description">{{ site.bio }}</h2>
        
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==" crossorigin="anonymous">

        {% include social-links.html %}
    </header>
{% endif %}

{% include nav.html %}
