<div class="social-links">

        <a class="link" data-title="twitter.com/binarynonsense" href="http://twitter.com/binarynonsense" target="_blank">
            <i class="fa fa-twitter-square"></i>
        </a>
        
        <a class="link" data-title="youtube.com/user/binarynonsense" href="http://www.youtube.com/user/binarynonsense" target="_blank">
            <i class="fa fa-youtube-square"></i>
        </a>
        
        <a class="link" data-title="github.com/binarynonsense" href="https://github.com/binarynonsense" target="_blank">
            <i class="fa fa-github-square"></i>
        </a> 
  
</div>
